{% extends "base.html" %}

{% load url from future %}

{% block content %}
{% if signup_form.errors %}
<p>Sorry, there was an error filling out the form. Please try again.</p>
{% endif %}

<h1>{{ beans }}</h1>

<form method="post" action="/signup/">
    {% csrf_token %}
    <table id="signup-form">
        <tr>
            <td><label>User Name:</label></td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>
                Username may consist of alphanumeric characters only.
            </td>
        </tr>
        <tr>
            <td><label>Email Address:</label></td>
            <td><input type="text" name="email">
            </td>

        </tr>
        <tr><td>Note: email address must be correctly formatted.</td></tr>

        <tr>
            <td>
                <label>Password:</label>
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>

        <tr>
            <td>
                <label>Password Confirmation:</label>
            </td>
            <td>
                <input type="password" name="password2">
            </td>
        </tr>
    </table>
    <!-- {{ signup_form.to_p }}-->
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" name="Sign Up" >
</form>
{% endblock content %}
