div#feed-wrapper div.followers-following {
    float: left;
    border: 1px solid black;
}

div#feed-wrapper div.post-mime-form {
    float: right;
    border: 1px solid black;
}


div#follow-list div.followeroree {
    border: black 1px solid;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

div#follow-list div.followeroree ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

div#follow-list div.followeroree ul li {
    display: inline;
}

#posts {
    clear: both;
    margin-top: 20px;
    padding-top: 20px;
}

div.post h4 {
    float: left;
}

div.post input.delete {
    float:right;
    position: relative;
    right: 700px;
}

div.post {
    clear: both;
    margin-top: 20px;
    padding-top: 20px;
}
