{% extends "base.html" %}

{% block content %}
<h2>{{ u.username }}'s Feed</h2>
<div id="feed-wrapper">
    {% block feed-wrapper %}
    {% endblock feed-wrapper %}
    <div id="posts">
        {% block posts %}
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
        auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus
        ac facilisis in, egestas eget quam.</p>
        {% endblock posts %}
    </div>
</div>
<div id="sidebar">
    {% block sidebar %}
    <p>THIS IS THE SIDEBAR
    {% endblock %}
</div>
{% endblock %}
