{% extends "base.html" %}

{% block content %}
<h2>{{ u.username }}'s Feed</h2>
<div id="feed-wrapper">
    <div class="followers-following">
        <h3>Followers and Followees</h3>
        <ul>
            <li>Followers: <a href="{% url mime.views.get_followers u.username %}">{{ u.get_profile.number_of_followers }}</a></li>
            <li>Followees: <a href="{% url mime.views.get_following u.username  %}">{{ u.get_profile.number_of_followees }}</a></li>
    </div>
    {% block feed-wrapper %}
    {% endblock feed-wrapper %}
    <div id="posts">
        {% block posts %}
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
        auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus
        ac facilisis in, egestas eget quam.</p>
        {% endblock posts %}
    </div>
</div>
{% endblock %}
