{% extends "feed.html" %}

{% block feed-wrapper %}
    {% if user.is_authenticated %}
        {% if is_current_user_following %}
            <form action="/feed/{{ other_user }}/unfollow/" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ other_user_id }}">
                <input type="submit" name="Unfollow" value="Unfollow">
            </form>
        {% else %}
            <form action="/feed/{{ other_user }}/follow/" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ other_user_id }}">
                <input type="submit" name="Follow" value="Follow">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block posts %}
    {% include "posts.html" %}
{% endblock %}
