{% if mimes %}
{% for mime in mimes  %}
<div class="post">
    <div class="mime">
        <pre>{{ mime.content }}</pre>
    </div>
    <h4>By {{ mime.author.user.username }}</h4>
    {% if mime.author.user == user %}
    <form action="{% url mime.views.mime_delete %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ mime.id }}">
            <input class="delete" type="submit" value="Delete">
        </form>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p> Looks like there is nothing here yet.</p>
{% endif %}
