{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{% block title %}Mimeograph{% endblock %}</title>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="container">
      <div id="header">
      {% block header %}
          <h1 id="title"><a href="/feed/">Mimeograph</a></h1>
          <div id="menu">
              {% block menu %}
                <ul>
                    {% if user.is_authenticated %}
                        <li>Hi, {{ user.username }}</li>
                        <li><a href="{% url 'shared.views.logout_view' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'django.contrib.auth.views.login' %}">Log in</a></li>
                        <li><a href="{% url 'shared.views.signup_view' %}">Create account</a></li>
                    {% endif %}
                </ul>
              {% endblock menu %}
          </div><!-- end menu-->
      {% endblock header %}
      <hr />
    </div><!-- end header-->
    <div id="content">
        {% if flash.error %}
            <div class="error">
                {{ flash.error }}
            </div>
        {% endif %}
        {% if flash.warning %}
            <div class="notice">
                {{ flash.warning }}
            </div>
        {% endif %}
        {% if flash.success %}
            <div class="success">
                {{ flash.success }}
            </div>
        {% endif %}
      {% block content %}
        <p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit
        libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut
        id elit. Sed posuere consectetur est at lobortis. Cras mattis
        consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque
        ornare sem lacinia quam venenatis vestibulum.</p>
      {% endblock %}
      <hr />
    </div><!-- end content-->
    <div id="footer">
      {% block footer %}
      <h3>Created by Jamison Dance for <a href="http://ilab.cs.byu.edu/cs360/2011w/assignments/lab7.html">CS 360</a></h3>
      {% endblock %}
    </div><!-- end footer-->
  </div><!-- end container -->
</body>
</html>
