<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{% block title %}Mimeograph{% endblock %}</title>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->  
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css" type="text/css" media="screen">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="container">
      <div id="header">
      {% block header %}
      <h1 id="title">Mimeograph</h1>
      {% block menu %}
      <div id="menu">
        <ul>
          <li class="first"><a href="#">Log in</a></li>
          <li><a href="#">Log in</a></li>
          <li><a href="#">Log in</a></li>
          <li class="last"><a href="#">Log in</a></li>
        </ul>
      </div><!-- end menu-->
      {% endblock menu %}
      {% endblock header %}
      <hr />
    </div><!-- end header-->
    <div id="content">
      {% block content %}
        <p>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit
        libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut
        id elit. Sed posuere consectetur est at lobortis. Cras mattis
        consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque
        ornare sem lacinia quam venenatis vestibulum.</p>
      {% endblock %}
      <hr />
    </div><!-- end content-->
    <div id="footer">
      {% block footer %}
      <h3>Here is the footer</h3>
      <p>Nulla vitae elit libero, a pharetra augue.</p>
      {% endblock %}
    </div><!-- end footer-->
  </div><!-- end container -->
</body>
</html>
